@font-face {
  font-family: "Circe", sans-serif;
  src: url("../fonts/Circe-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Circe", sans-serif;
  src: url("../fonts/Circe-Bold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
  display: swap;
}
