:root {
  --font: "Circe", sans-serif;

  --white: #fff;
  --brown: #b59571;
  --black-600: #5b5b5b;
  --black-800: #333333;
  --black-900: #000;

  --z-sidebar: 999;
  --z-header: 999;

  --sidebar-width: 7.5rem;
}
